.rosf-directory {
    margin-left: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
}

.rosf-directory[data-rosf-depth="0"] {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.rosf-current-directory {
    font-weight: bold;
    background-color: cornsilk;
}

.rosf-directory-icon {
    padding-right: 0.15rem;
}

.rosf-fileslist {
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
}

.rosf-results .rosf-fileslist {
    margin: 0;
    padding: 0;
}

.rosf-loadmore {
    display: none;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    color: blue;
    font-size: 150%;
}

.rosf-fileslist-noborders {
    border-top: none;
    border-bottom: none;
}

li.rosf-downloadable-file {
    background-color: whitesmoke;
    padding: 0;
    border: 1px solid red;
    margin: 2rem 0.5rem 0;
    position: relative; 
    list-style-type: none !important;
}


.rosf-file-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    font-size: 0.9rem;
}

.rosf-file-wrapper.altcolor0 {
    background-color: whitesmoke;
}

.rosf-file-wrapper.altcolor1 {
    background-color: whitesmoke;
}

.rosf-file-wrapper.altcolor2 {
    background-color: whitesmoke;
}

.rosf-file-wrapper.altcolor3 {
    background-color: whitesmoke;
}

.rosf-file-wrapper.altcolor4 {
    background-color: whitesmoke;
}

.rosf-file-wrapper.altcolor5 {
    background-color: whitesmoke;
}

.rosf-file-wrapper.altcolor6 {
    background-color: whitesmoke;
}

.rosf-file-wrapper.altcolor7 {
    background-color: whitesmoke;
}

.rosf-file-icon-wrapper {
    max-width: 70%;
    margin: 1rem 15% 0;
    border-top: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    background-color: whitesmoke;
}

.rosf-file-icon {
    min-height: 10rem;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.rosf-file-icon.rosf-real-preview {
    background-size: cover;
}

.rosf-file-ribbon {
    position: absolute;
    width: 40%;
    height: 40%;
    z-index: 99;
    cursor: pointer;
    pointer-events: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.rosf-file-name {
    text-align: center;
    max-width: 20rem;
    min-width: 20rem;
    max-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 130%;
    font-weight: 800;
    background-color: white;
    margin: 0;    
    padding: 0.5rem 0.5em 0;
}

.rosf-hotflag, .rosf-downloadable-dir {
    min-width: 3rem;
    min-height: 0.7rem;
    display: none;
    background-position: center;
    background-size: contain;
    margin: 0;
    background-repeat: no-repeat;
}

.rosf-downloadable-dir-wrapper {
    min-width: 5vw;
    max-width: 30vw;
    margin: 0 auto;
    min-width: 5vw;
    max-width: 30vw;
    margin: 0 auto;
    min-height: 10vh;
    display: flex;
    justify-content: center;    
}

.rosf-downloadable-dir {
    min-width: 7rem;
}

.rosf-downloadable-dir, .rosf-hotdir > .rosf-hotflag {
    display: inline-block;
}

.rosf-directory:has(span.rosf-hotdir) > .rosf-directory-name > .rosf-hotflag {
    display: inline-block;
}

.rosf-empty-folder-name {
    font-weight: bolder;
    background-color: aliceblue;
    color: blue;
}

.rosf-no-files-message {
    font-size: 1.4rem;
}

.rosf-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem 0;
}

.rosf-result-wrapper {
    flex-grow: 1;
    cursor: pointer;
    list-style: none;
}

.rosf-no-filters, .rosf-no-results {
    font-size: 2rem;
    padding: 2rem;
    text-align: center;
}

.rosf-hotflag {
    animation: rosfHotflagAnim 7s ease-in-out 0s infinite normal forwards;
}

@keyframes rosfHotflagAnim {
	0% {
		background-position: 400% center;
	}

	100% {
		background-position: -400% center;
	}
}

div#rosf-loading {
    display: none;
    position: fixed !important;
    width: 100vw !important;
    min-width: 100vw !important;
    height: 100vh !important;
    min-height: 100vh !important;
    overflow: hidden !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 99999;
    pointer-events: all !important;
    background-color: #eeeeee22;
    background-image: url('../../images/loading.gif');
    background-size: 20% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.rosf-file-tags {
    max-height: 8rem;
    max-width: 20rem;
    background-color: white;
}

.rosf-file-tag {
    padding: 1.5rem 0.5rem 3rem;
    max-height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: indigo;
    font-style: italic;
}

.rosf-permalink, .rosf-copytoclipboard {
    display: none;
    cursor: pointer;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.rosf-permalink {
    background-image: url('../../images/share.png');
    margin: 0 0.5rem;
}

.rosf-copytoclipboard, #rosf-copied-notification {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

#rosf-copied-notification {
    background-color: whitesmoke;
    border: 1px solid darkblue;
    padding: 0.5rem 2rem;
    right: 2.2rem;
    bottom: 2.2rem;

}

.rosf-copytoclipboard {
    display: block;
    min-width: 2.2rem;
    min-height: 2.2rem;
    width: 2.2rem;
    height: 2.2rem;
    background-image: url('../../images/copytoclipboard.png');
}

.rosf-sharing-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #444444cc;
    z-index: 9999;
}

.rosf-sharing-dialog {
    display: block;
    position: absolute;
    z-index: 10000;
    margin: auto;
    height: fit-content;
    background-color: white;
    padding: 2rem;
    border: 2px solid black;
    margin: 10vh 0 0 5vw;
    width: 90vw;    
    text-align: center;
}

.rosf-sharing-dialog-content {
    position: relative;
}

.rosf-directory-name.rosf-current-directory .rosf-permalink {
    display: inline-block;
}

.rosf-sharing-dialog-link {
    width: 60%;
    margin: 0 auto;
}

#rosf-link-target-container {
    border: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rosf-newsletter-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.newsletters-table td {
    vertical-align: top;
}

.rosf-select-wrapper {
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.rosf-select-title-text {
    font-weight: bold;
}

ul.select2-results__options {
    font-size: small;
    line-height: 100%;
}

span.select2.select2-container {
    min-width: 100%;
}

button#rosf-resetfilters {
    padding: 0 0.5rem;
    margin: 0 0.5rem;
}

.select2-selection {
    width: 20vw !important;
    max-width: 20vw !important;
    min-width: 20vw !important;
}

.select2-container {
    width: 19.7vw !important;
}

.rosf-sc-filters {
    border: none;
    font-family: helvetica,arial,sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #404040;
    line-height: 1.7;
    box-sizing: border-box;
}

.rosf-sc-filters-title {
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

:root {
    --radio-border-thickness: 0.1rem;
    --radio-text-color: #5a5a5a;
    --radio-bullet-border-color: #bbbbbb;
    --radio-bullet-background-color: #f7f8f8;
    --rosf-cs-title-color: #88AB2D;
    --radio-bullet-hole-color: var(--rosf-cs-title-color);
}

.rosf-sc-filter > input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--radio-bullet-background-color);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: var(--radio-border-thickness) solid var(--radio-bullet-border-color);
    border-radius: calc(var(--radio-border-thickness) * 2);
    display: inline-grid;
    place-content: center;
}

.rosf-sc-filter > input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--radio-bullet-hole-color);
}

.rosf-sc-filter > input[type="radio"]:checked::before {
    transform: scale(1);
}
  
.rosf-sc-filter-label {
    padding-left: 0.9rem;
    color: var(--radio-text-color);
}

.rosf-cs-page {
  padding-top: 2rem;
}

.rosf-cs-page > a.rosf-cs-link {
  text-decoration: none;
  padding-bottom: 2rem;
  display: block; 
}

.rosf-cs-post {
    display: grid;
    background-color: var(--radio-bullet-background-color);
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 2fr 3fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-areas: 
    "titolo immagine"
    "testo immagine"
    "leggi immagine";    
    text-align: center;
}

.rosf-cs-title { 
    grid-area: titolo;
    padding: 2rem 0 0 1rem;
    text-transform: uppercase;
    font-size: large;
    color: var(--rosf-cs-title-color);
    letter-spacing: 0.2rem;
}

.rosf-cs-excerpt { 
    grid-area: testo; 
    padding: 0 0 0 1rem;
    max-height: 6rem;
    overflow: hidden;
    color: #404040;
    font-weight: 300;
    font-size: initial;
}

.rosf-cs-readmore { 
    display: flex;
    grid-area: leggi; 
    padding: 0 0 1rem 1rem;
    justify-content: center;
    align-items: center;
}

.rosf-cs-readmore span { 
    background-color: #5286C5;
    border-color: #5286C5;
    border-radius: 1.4rem;
    color: #fff;
    display: block;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
}

.rosf-cs-readmore span:hover {
    background-color: #20409A;
}

.rosf-cs-image { 
    grid-area: immagine; 
}

.rosf-cs-image-bg { 
    min-width: 100%;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}